[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
aws-sam-cli = "*"
cfn-lint = "*"
ipykernel = "*"
jupyterlab = "*"
pylint = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-watch = "*"
safety = "*"

[packages]
aws-secretsmanager = "*"
aws-xray-sdk = "*"
backoff = "*"
dynamodb-tools = "*"
python-ulid = "*"
cfn-lambda-handler = "*"

[requires]
python_version = "3.9"
